@import url("https://fonts.googleapis.com/css2?family=HK+Grotesk:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@plugin "daisyui";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Welcome-div {
  font-family: "Host Grotesk", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 14px;
  letter-spacing: 0%;
  color: #666666;
}

.firsticonandp {
  width: 180px;
  height: 18px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.threeParagraph {
  width: 112px;
  height: 18px;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: right;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: right;
  color: #666666;
}
#span1 {
  color: #000000;
}
.border-between {
  width: 10px;
  height: 10px;
  background-color: #23010106;
}
#searchP {
  font-family: "Host Grotesk", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: right;
  color: #000000;
}
.carosalP {
  font-family: "Host Grotesk", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 30px;
  leading-trim: NONE;
  line-height: 30px;
  letter-spacing: 0%;
  color: #ffffff;
}
.carosalH1 {
  font-family: "Host Grotesk", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 63px;
  leading-trim: NONE;
  line-height: 63px;
  letter-spacing: 0%;
  color: #ffffff;
}

.CarouselP2 {
  font-family: "Host Grotesk", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 30px;
  leading-trim: NONE;
  line-height: 30px;
  letter-spacing: 0%;
  color: #ffffff;
}
.next,
.pre {
  background-color: white !important;
  color: blue !important;
}
#smartphoneP {
  font-family: "Host Grotesk", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 30px;
  letter-spacing: 0%;
  color: #666666;
  span {
    font-family: "Host Grotesk", sans-serif;
    font-weight: 700;
    font-style: Bold;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 30px;
    letter-spacing: 0%;
    color: #008ecc;
  }
}

.title {
  font-family: "Host Grotesk", sans-serif;
  color: #222222;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 18px;
  letter-spacing: 0%;
}

.original-price {
  font-family: "Host Grotesk", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 18px;
  letter-spacing: 0%;
  color: #222222;
}

.contact {
  font-family: "Host Grotesk", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 20px;
  letter-spacing: 0%;
}

.footers {
  font-family: "Host Grotesk", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 20px;
  letter-spacing: 0%;
  color: #ffffff;
}
.most {
  font-family: "Host Grotesk", sans-serif;
  font-weight: 450;
  font-style: SemiBold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 20px;
  letter-spacing: 0%;
}
#login {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
}

#title {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 28px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  margin-top: 20px;
}

#category {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 15px;
  /* letter-spacing: 16.5%; */
  color: #50cc98;
  /* margin-top: 20px; */
}
#d1 {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 12px;
  leading-trim: NONE;
  line-height: 15px;
  letter-spacing: 2%;
  margin-top: 20px;
}

#category2 {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 15px;
  leading-trim: NONE;
  line-height: 15px;
  /* letter-spacing: 16.5%; */
  color: #50cc98;
  /* margin-top: 20px; */
}
#firstp {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #1e1e1e;
}
#secondp {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
}

#cardDetsiles {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 22px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
}
#cardtype {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 100%;
  letter-spacing: 0%;
  color: #fefcfc;
}
